@model HotelReservationSystemProject.Models.Receptionist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receptionist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistFName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistFName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistLName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistLName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReceptionistId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
